:local(.wrapper) {
  text-align: center;

  margin: 72px 0;

  :local(.footer) {
    position: fixed;

    bottom: 18px;
    left: 50%;
    padding: 8px;

    background: #fffffffa;
    border-radius: 6px;
    transform: translateX(-50%);

    @supports (backdrop-filter: blur(12px)) {
      backdrop-filter: blur(12px);
      background: #ffffffaa;
    }
  }
}
